<%- include('header'); -%>

    <body>
        <div class="container">
            <h1 style="margin-top: 3px; margin-bottom: 25px;">Compose</h1>

            <form action="/compose" method="POST">
                <label for="titleInput">
                    <h3>Title</h3>
                </label><br>
                <input class="form-control" type="text" name="titleInput" placeholder="Add a Title">
                <label for="textInput">
                    <h3>Post</h3>
                </label><br>
                <textarea class="form-control" name="textInput" id="" cols="50" rows="10" placeholder="type here"
                    required></textarea><br>
                    <label for="imageUrl">
                        <h3>Add Image</h3>
                    </label><br>
                    <input class="form-control" type="url" name="urlImage" placeholder="Add Image Url "><br>
                <button type="submit">Publish</button>
            </form>





        </div>


    </body>
    <%- include('footer'); -%>